<!-- Meta data -->

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title><?php echo $template['title']; ?></title>

<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<?php 
echo '<base href='.base_url().'>';
echo link_tag('favicon.ico', 'shortcut icon', 'image/ico');
echo link_tag('apple-touch-icon.png', 'apple-touch-icon', 'image/png');

echo link_tag($theme.'css/style.css'); 

echo link_tag($theme.'js/jquery-1.6.min.js'); 

//to-do modernizr
//echo link_tag($theme.'js/libs/modernizr-1.7.min.js'); 

// datatables tabletools
echo link_tag($theme.'../../datatables/css/TableTools.css');
echo link_tag($theme.'../../datatables/css/table_jui.css');

echo link_tag($theme.'../../datatables/js/jquery.dataTables.js');
echo link_tag($theme.'../../datatables/js/ZeroClipboard.js');
echo link_tag($theme.'../../datatables/js/TableTools.js');


echo $template['metadata']; 
?>






	
	



